language: julia
os:
  - linux
  - osx
julia:
  - 1.3
codecov: true
notifications:
  email: false
jobs:
  allow_failures:
    - julia: 1.2
  fast_finish: true
  include:
    - stage: "Documentation"
      os: linux
      julia: 1.3
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=docs/ -e 'cd("docs"); include("weave.jl"); include("make.jl")'
      after_success: skip
